<!doctype html>
<head>
    <title>jsChat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <div id="jsChat">
        <h1>jsChat</h1>

        <ul id="jsChat-messages"></ul>
        
        <form id="send-message" action="">
            <label for="message">type message & hit enter</label>
            <input type="text" name="message" />
        </form>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/config.js"></script>
<script src="/js/jschat.js"></script>

</body>
</html>
