body { padding: 20px; font-family: monospace; }
a { color: #333; }
#pubChat-messages { height: 300px; overflow: scroll; border: 1px dashed #000; padding: 10px; }
#pubChat-messages li { margin: 10px 0; }
.nick { font-weight: bold; }